
<h1 class="about">About</h1>
<p class="about-test">
Today is <%= Time.now %> <br><br>

The name of this application is mytestappjpd, it is test application utilizing
ruby 2.4.1 and rails 5.1.3. The development database been switched to Postgres 9.6.4 from Sqlight. All images are copyrights/trademarks of their
respective owners and are used strictly for test purposes to showcase the ROR
architecture!  All prices are in Swiss Francs and are for illustrative
purposes only! This application does use the Stripe API for the testing of
payments in the Swiss Franc and is configured in test mode. If one wants to
test this functionality then use the contact form to receive test card numbers
as regular card numbers will decline due to the environment configured to test
mode. This application maybe maintained with new features suject to the
developers interest, have an idea? drop a line via the contact form on the
contact page. </p>
