<!-- <#% cache do %> -->
 <!-- <#% sleep 2 %> -->
 <!-- <h1>Hello World!</h1> -->
<!-- <#% end %> -->
<!-- <h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p> -->
<h1 class="about">About</h1>
<!-- <p class="date-time"></p> -->
<p class="about-test">Today is <%= Time.now %> <br><br> This app called: nameofapp (sudo name test app) is strictly a test app for testing the Ruby on Rails framework! <br> All images shown are strictly for testing purposes! <br> All names are for testing and no advertisment or endorsement implied!
</p>
