<!-- <h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p> -->

<h1 class="contact">Contact and Connect</h1>
<p class="date-time">Today's date and time: <%= Time.now %></p>
<p id="contact"> Contact JP Dickerson <br> 
via email: justin.p.dickerson@gmail.com <br>
via phone: +1.734.985.0669 <br>
Make sure to mention the app: nameofapp in your message!
</p>

