<!-- <h1>StaticPages#index</h1> -->
<!-- <p>Find me in app/views/static_pages/index.html.erb</p> -->
<h1 class="welcome">Welcome to Nameofapp!</h1>
<p class="date-time">Today's date and time: <%= Time.now %></p>
<h2 class="test-header">Test Image</h2>
<%= image_tag("879DT_Satin.jpg", class: "img-responsive") %>