<br><br>
<div class="panel panel-default">
	<div class="panel-body">
		<p id='thanks'>Thank you. We have received your message and will respond as soon as possible.
			<br><br>
			<%= link_to('Home',root_path) %>
		</p>
	</div> <!-- /panel body -->
</div> <!-- /panel -->