// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-headers: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

$primary-color: black;
* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	background-color: olive;
}

h1 {
	font: $font-headers;
	color: $primary-color;
	text-align: center;
}

.search_label {
	text-transform: uppercase;
	color: olive;
}

.projectName {
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

.Site {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.tag-line {
	text-align: center;
	font-size: 1.25em;
}

.test-header {
	text-align: center;
	color: purple;
	padding-bottom: 1%;
}

.message {
	text-align: center;	
}

.showcase,
.products {
	text-align: center;	
}

#showcase,
#products {
	color: green;
	text-decoration: none;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail>a>img,
.thumbnail>img {
	display: block;
	max-width: 25%;
	height: auto;
}

.about-test {
	text-size: 1.5em;
	text-transform: uppercase;
	color: purple;
}

.welcome,
.test-header,
.about,
.contact,
.products,
.featured,
.date-time,
.new,
.edit,
.signup,
.login {
	margin: 2%;
	padding-top: 3%;
}

div>.item {
	display: inline-block;
	text-align: center;
}

.carousel-inner>.item>img {
	margin: 0 auto;
}

#contact,
.about-test {
	text-align: center;
}
.site-footer {
	margin: 1%;
	padding: 1%;
	height: 100px;
	text-align: center;
	font-size: 1.15em;
}

.panel,
.panel-body {
	background-color: #b0841c;
}
#thanks {
	text-align: center;
	font-size: 1.35em;
	color: purple;
}