<% cache product do %>
	<div class="col-md-6">
		 <h4><%= product.name %></h4>
	   <%= link_to image_tag(product.image_url, class: "img-responsive"), product %>
	   <br>
	   <span class="price img-responsive"><%= (product.price).to_d %> CHF</span>
	</div>
<% end %>