<p id="notice"><%= notice %></p>

<h1 class="products">Products</h1>
<h2 class="showcase"><%= link_to('View Our Showcase', static_pages_landing_page_path, id: "showcase")%></h2>
<div class="container-fluid">
  <div class="row">
    <%= render @products %>
  </div>
</div>